body{
    width: 750px;
    overflow-x: hidden !important;
    font-family: 'Red Hat Display', sans-serif, !important;
}

#navbar{
    background-color: rgb(29, 29, 29);
    padding: 7px 0px;
    box-shadow: 2px 5px 3px gray;

    font-size: large;
    justify-content: center;
    text-align: center;
}