body{
    width: 750px;
    overflow-x: hidden !important;
    font-family: 'Red Hat Display', sans-serif, !important;
}

h1 {
    font-weight: bolder !important;
    padding: 0px 60px;
}

i {
    color:rgb(241, 173, 45)
}

h2 {
    padding: 0px 40px;
}

ul {
    padding: 0px 0px;
    list-style: none;
}

div li{
    list-style: none;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(253, 253, 253);
    position: relative;
    line-height: 35px;
    margin: 7px;
    border: 2px black;
    border-style: solid ;
    border-radius: 20px 6px 20px 6px;
}


#warning-username{
    margin-left: 10px;
    color: red;
    display: none;

}

#warning-password{
    margin-left: 10px;
    color: red;
    display: none;
}

#navbar{
    background-color: rgb(29, 29, 29);
    padding: 7px 0px;
    box-shadow: 2px 5px 3px gray;
    
    font-size: large;
    justify-content: center;
    text-align: center;
}

#navbar-2{
    background-color: rgb(241, 173, 45);
    padding: 7px 0px;
    box-shadow: 2px 5px 10px gray;

    font-size: large;
    justify-content: center;
    text-align: center;
    color: white;
}

#horizontal-line{
    width: 700px;
    border: 1px solid rgb(219, 219, 219);
}

.botao{
    background-color: transparent !important;
    border: 0px;
    color: white;
}

.enviar{
    background-image: url('../icons/send.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.fixar{
    background-image: url('../icons/pin-angle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.config{
    background-image: url('../icons/gear.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.login-page{
    padding: 40px 50px;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: all 1s;
}

.advice{
    padding: 10px 50px;
    justify-content: center;
    text-align: center;
}

.form-group{
    margin-bottom: 10px !important;
    text-align: left !important;
}

.btn-login{
    margin-top: 30px !important;
    background-color: rgb(241, 173, 45) !important;
    font-weight: bolder !important;
    width: 100%;
}

.main-page{
    padding: 40px 50px;
}

.title{
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}

.about{
    padding: 40px 40px;
    text-align: justify;
    justify-content: center;
    color:rgb(109, 109, 109)
}

.important-info {
    padding-bottom: 30px !important;
    text-align: left !important;
    color: black !important;
}

.glow-green{
    box-shadow: 10px 10px 10px 10px green;
}

.add_menu{
    padding: 25px 25px;
}

.messages-list{
    padding: 20px 40px 0px 40px;
}
.search-bar{
    padding: 0px 10px 0px 0px !important;
}

.align-right{
    text-align: right !important;
}